<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
</head>
<body>
    <h1>Chat Box</h1>
    <input id="startchat" type="hidden" data-roomid="<%= id %>"></input>
    <label class="text-right" for="newmsg">Enter your message:</label>
    <!-- <input type="text" id="roomId" placeholder="room id...."> -->
    <input type="text" id="username" placeholder="user id ...">
    <input type="text" id="newmsg" placeholder="Type your message here">
    <button id="btn" >Send</button>

    <ul id="msglist">
        <% for (var i =0; i < chats.length;  i++ ) { %>
            <li><%= chats[i].user %> : <%= chats[i].content %></li>   

            <% } %>
            
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    
    <script>
    const socket = io();

    let startchat = document.getElementById("startchat");
    let newmsg = document.getElementById('newmsg');
    let btn = document.getElementById('btn');
    let username = document.getElementById('username');
    let msglist = document.getElementById('msglist');
      


            socket.emit('join_room', {
         roomid: startchat.getAttribute('data-roomid')
                                                      });
 
    
        btn.onclick = (e) => {
            e.preventDefault();
            socket.emit('msg_send', {  
                message: newmsg.value,
                username: username.value,
                roomid: startchat.getAttribute('data-roomid')
             });
           
            newmsg.value = '';
        } 
       
        socket.on('msg_received', (data) => {
            console.log(data + 'client');
            if (msglist) {
                msglist.innerHTML += `<li>${data.username}:: ${data.message}</li>`;
            }
        });
    
    </script>
</body>
</html>
